<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>role_move</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>role_move_0.png</string>
				<string>role_move_1.png</string>
				<string>role_move_1.png</string>
				<string>role_move_3.png</string>
			</array>
		</dict>
		<key>role_idle</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>role_idle_0.png</string>
			</array>
		</dict>
		<key>role_attack</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>role_attack_0.png</string>
				<string>role_attack_1.png</string>
				<string>role_attack_1.png</string>
				<string>role_attack_3.png</string>
			</array>
		</dict>
		<key>role_dead</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>role_dead_0.png</string>
				<string>role_dead_1.png</string>
				<string>role_dead_2.png</string>
				<string>role_dead_3.png</string>
				<string>role_dead_4.png</string>
				<string>role_dead_5.png</string>
			</array>
		</dict>
		<key>role_victory</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>role_win_0.png</string>
				<string>role_win_1.png</string>
				<string>role_win_2.png</string>
				<string>role_win_3.png</string>
				<string>role_win_4.png</string>
				<string>role_win_5.png</string>
				<string>role_win_6.png</string>
				<string>role_win_7.png</string>
				<string>role_win_8.png</string>
				<string>role_win_9.png</string>
				<string>role_win_10.png</string>
				<string>role_win_11.png</string>
				<string>role_win_12.png</string>
				<string>role_win_13.png</string>
				<string>role_win_14.png</string>
				<string>role_win_15.png</string>
				<string>role_win_16.png</string>
				<string>role_win_17.png</string>
				<string>role_win_18.png</string>
			</array>
		</dict>
		<key>AI_0_move</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_0_move_0.png</string>
				<string>AI_0_move_1.png</string>
				<string>AI_0_move_2.png</string>
				<string>AI_0_move_3.png</string>
			</array>
		</dict>
		<key>AI_0_attack</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_0_alert_0.png</string>
				<string>AI_0_alert_1.png</string>
				<string>AI_0_attack_0.png</string>
				<string>AI_0_attack_1.png</string>
				<string>AI_0_attack_2.png</string>
			</array>
		</dict>
		<key>AI_0_idle</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_0_idle_0.png</string>
			</array>
		</dict>
		<key>AI_0_dead</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_0_dead_0.png</string>
				<string>AI_0_dead_1.png</string>
				<string>AI_0_dead_2.png</string>
				<string>AI_0_dead_3.png</string>
				<string>AI_0_dead_4.png</string>
				<string>AI_0_dead_5.png</string>
				<string>AI_0_dead_6.png</string>
				<string>AI_0_dead_7.png</string>
				<string>AI_0_dead_8.png</string>
				<string>AI_0_dead_9.png</string>
				<string>AI_0_dead_10.png</string>
				<string>AI_0_dead_11.png</string>
				<string>AI_0_dead_12.png</string>
				<string>AI_0_dead_13.png</string>
				<string>AI_0_dead_14.png</string>
			</array>
		</dict>
		<key>AI_3_move</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_3_move_0.png</string>
				<string>AI_3_move_1.png</string>
				<string>AI_3_move_2.png</string>
				<string>AI_3_move_3.png</string>
			</array>
		</dict>
		<key>AI_3_attack</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_3_alert_0.png</string>
				<string>AI_3_alert_1.png</string>
				<string>AI_3_attack_0.png</string>
				<string>AI_3_attack_1.png</string>
				<string>AI_3_attack_2.png</string>
			</array>
		</dict>
		<key>AI_3_idle</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_3_idle_0.png</string>
			</array>
		</dict>
		<key>AI_3_dead</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_3_dead_0.png</string>
				<string>AI_3_dead_1.png</string>
				<string>AI_3_dead_2.png</string>
				<string>AI_3_dead_3.png</string>
				<string>AI_3_dead_4.png</string>
				<string>AI_3_dead_5.png</string>
				<string>AI_3_dead_6.png</string>
				<string>AI_3_dead_7.png</string>
				<string>AI_3_dead_8.png</string>
				<string>AI_3_dead_9.png</string>
				<string>AI_3_dead_10.png</string>
				<string>AI_3_dead_11.png</string>
				<string>AI_3_dead_12.png</string>
				<string>AI_3_dead_13.png</string>
				<string>AI_3_dead_14.png</string>
			</array>
		</dict>
		<key>AI_4_move</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>AI_4_move_0.png</string>
				<string>AI_4_move_1.png</string>
				<string>AI_4_move_2.png</string>
				<string>AI_4_move_3.png</string>
				<string>AI_4_move_4.png</string>
			</array>
		</dict>
		<key>Boss_0_idle</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>Boss_0_idle_0.png</string>
			</array>
		</dict>
		<key>Boss_0_attack</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>Boss_0_alert_0.png</string>
				<string>Boss_0_alert_1.png</string>
				<string>Boss_0_attack_0.png</string>
				<string>Boss_0_attack_1.png</string>
				<string>Boss_0_attack_2.png</string>
				<string>Boss_0_attack_3.png</string>
				<string>Boss_0_attack_4.png</string>
			</array>
		</dict>
		<key>Boss_0_dead</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>Boss_0_dead_0.png</string>
				<string>Boss_0_dead_1.png</string>
				<string>Boss_0_dead_2.png</string>
				<string>Boss_0_dead_3.png</string>
				<string>Boss_0_dead_4.png</string>
				<string>Boss_0_dead_5.png</string>
				<string>Boss_0_dead_6.png</string>
				<string>Boss_0_dead_7.png</string>
				<string>Boss_0_dead_8.png</string>
				<string>Boss_0_dead_9.png</string>
				<string>Boss_0_dead_10.png</string>
				<string>Boss_0_dead_11.png</string>
				<string>Boss_0_dead_12.png</string>
			</array>
		</dict>
		<key>Boss_0_unbeat</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>Boss_0_unbeat_0.png</string>
				<string>Boss_0_unbeat_1.png</string>
				<string>Boss_0_unbeat_2.png</string>
				<string>Boss_0_unbeat_3.png</string>
				<string>Boss_0_unbeat_4.png</string>
				<string>Boss_0_unbeat_5.png</string>
				<string>Boss_0_unbeat_6.png</string>
				<string>Boss_0_unbeat_7.png</string>
				<string>Boss_0_unbeat_8.png</string>
			</array>
		</dict>
		<key>Boss_0_move</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>Boss_0_move_0.png</string>
				<string>Boss_0_move_1.png</string>
				<string>Boss_0_move_2.png</string>
				<string>Boss_0_move_3.png</string>
			</array>
		</dict>
		<key>box_0_opening</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>box_0_opening_0.png</string>
				<string>box_0_opening_1.png</string>
				<string>box_0_opening_2.png</string>
				<string>box_0_opening_3.png</string>
				<string>box_0_opening_4.png</string>
			</array>
		</dict>
		<key>bomb_jump</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>bomb_jump_0.png</string>
				<string>bomb_jump_1.png</string>
				<string>bomb_jump_2.png</string>
				<string>bomb_jump_3.png</string>
				<string>bomb_jump_4.png</string>
				<string>bomb_jump_5.png</string>
				<string>bomb_jump_6.png</string>
				<string>bomb_jump_7.png</string>
				<string>bomb_jump_8.png</string>
				<string>bomb_jump_9.png</string>
				<string>bomb_jump_10.png</string>
			</array>
		</dict>
		<key>bomb_over</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>bomb_over_0.png</string>
				<string>bomb_over_1.png</string>
				<string>bomb_over_2.png</string>
				<string>bomb_over_3.png</string>
				<string>bomb_over_4.png</string>
				<string>bomb_over_5.png</string>
				<string>bomb_over_6.png</string>
				<string>bomb_over_7.png</string>
			</array>
		</dict>
		<key>bomb_bomb</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>bomb_bomb.png</string>
				<string>bomb_bomb.png</string>
				<string>bomb_bomb.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
